.App {
    display: flex;
    justify-content: space-between;
    background-color: #090423;
    color: silver;
}
.listWord li:hover{
    background-color: #fff;
}
.inputForm{
    background-color: #15094b;
    color: white;



}

.item {
    border: 1px solid red;
    border-radius: 20px;
    margin: 2px;
    background: -moz-linear-gradient(90deg, #001BFF 0%, #00BCD4 36%, #EE82EE 100%);

    /* safari 5.1+,chrome 10+ */
    background: -webkit-linear-gradient(90deg, #001BFF 0%, #00BCD4 36%, #EE82EE 100%);

    /* opera 11.10+ */
    background: -o-linear-gradient(90deg, #001BFF 0%, #00BCD4 36%, #EE82EE 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EE82EE', endColorstr='#001BFF', GradientType=0);

    /* ie 10+ */
    background: -ms-linear-gradient(90deg, #001BFF 0%, #00BCD4 36%, #EE82EE 100%);

    /* global 94%+ browsers support */
    background: linear-gradient(90deg, #001BFF 0%, #00BCD4 36%, #EE82EE 100%);
}

